#!/usr/bin/env bash

# User and token for Booli API.
# https://www.booli.se/api
export PRICEMAP_BOOLI_USER=""
export PRICEMAP_BOOLI_TOKEN=""

# Output path for files.
export PRICEMAP_OUTPUT_PATH=""

# Key to use to access administration pages.
export PRICEMAP_ADMIN_KEY=""

# Normal HTTP "Referrer" header. Required according to
# rules: https://www.booli.se/api
export PRICEMAP_REFERRER=""

# See this page for information about application secrets
# in Play 2.4:
# https://www.playframework.com/documentation/2.4.x/ApplicationSecret
export PRICEMAP_APPLICATION_SECRET=""

# PostgreSQL user and password
set PRICEMAP_PSQL_USER=""
set PRICEMAP_PSQL_PASSWORD=""
