rem User and token for Booli API.
rem https://www.booli.se/api
set PRICEMAP_BOOLI_USER=
set PRICEMAP_BOOLI_TOKEN=

rem Output path for files.
set PRICEMAP_OUTPUT_PATH=

rem Key to use to access administration pages.
set PRICEMAP_ADMIN_KEY=

rem Normal HTTP "Referrer" header. Required according to
rem rules: https://www.booli.se/api
set PRICEMAP_REFERRER=

rem See this page for information about application secrets
rem in Play 2.4:
rem https://www.playframework.com/documentation/2.4.x/ApplicationSecret
set PRICEMAP_APPLICATION_SECRET=

rem PostgreSQL user and password
set PRICEMAP_PSQL_USER=
set PRICEMAP_PSQL_PASSWORD=
